@font-face {
  font-family: 'M PLUS 1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplus1/v4/R70EjygA28ymD4HgBUGzkN5Eyoj-WpW5VSa78g.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplus1p/v24/e3tjeuShHdiFyPFzBRro-A.ttf) format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplus1p/v24/e3tmeuShHdiFyPFzBRrQDBcgew.ttf) format('truetype');
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Убираем внутренние отступы */
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  max-width: 1920px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #0B0A0D;
  color: white;
}
body._lock {
  overflow: hidden;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0B0A0D;
  z-index: 10;
}
header .container {
  max-width: 1270px;
  margin: 50px auto;
  padding: 10px 15px 10px;
  display: grid;
  grid-template-columns: 212px 1fr;
  min-height: 100px;
}
@media (max-width: 767.98px) {
  header .container {
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
header .container .logo {
  position: relative;
  z-index: 5;
}
header .container .menu {
  max-width: 440px;
  height: 64px;
}
@media (max-width: 767.98px) {
  header .container .menu {
    padding-top: 10px;
  }
}
.menu__link {
  font-size: 16px;
  font-family: "M PLUS 1p";
  font-weight: 500;
  color: white;
  text-decoration: none;
}
@media (min-width: 767.98px) {
  .menu__link {
    padding-bottom: 25px;
  }
}
@media (min-width: 767.98px) {
  .menu__link:hover {
    border-bottom: 2px solid white;
  }
}
.menu__icon {
  /*display: none;*/
}
@media (max-width: 767.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 36px;
    height: 24px;
    cursor: pointer;
  }
}
@media (max-width: 767.98px) {
  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 3px;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
}
@media (max-width: 767.98px) {
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
}
@media (max-width: 767.98px) {
  .menu__icon::before {
    top: 0;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .menu__icon::after {
    margin-left: 18px;
    bottom: 0;
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .menu__icon span {
    width: 100%;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: #0B0A0D;
    padding: 100px 30px 30px 30px;
    transition: right 0.3s ease 0s;
    overflow: auto;
  }
}
@media (max-width: 767.98px) {
  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #0B0A0D;
    z-index: 1;
  }
}
@media (max-width: 767.98px) {
  .menu__body._active {
    right: 0;
  }
}
@media (max-width: 767.98px) {
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }
}
@media (max-width: 767.98px) {
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
}
@media (max-width: 767.98px) {
  .menu__icon._active::after {
    margin: 0;
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}
@media (max-width: 767.98px) {
  .menu__list > li:last-child {
    padding: 0;
  }
}
.menu__list > li._active .menu__sub-list {
  display: block;
}
.menu__sub-list {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0B0A0D;
  padding: 15px;
  width: 100vw;
}
@media (max-width: 767.98px) {
  .menu__sub-list {
    position: relative;
    background: #0B0A0D;
    font-size: 14px;
    flex: 1 1 100%;
    padding: 15px 0 0 30px;
    display: none;
  }
}
@media (min-width: 767.98px) {
  .menu__sub-list {
    top: 120px;
    padding: 100px 100px 100px 100px;
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
  }
}
.menu__sub-list li {
  margin: 0 0 10px 0;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: white;
  text-decoration: none;
  font-family: "M PLUS 1p";
}
.menu__list {
  padding: 0;
}
@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}
.menu__list > li {
  margin: 0 0 0 20px;
}
@media (max-width: 767.98px) {
  .menu__list > li {
    position: relative;
    margin: 0 0 30px 0;
    flex-wrap: wrap;
  }
}
@media (min-width: 767.98px) {
  .menu__list > li {
    padding: 10px 0;
  }
}
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}
body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  transition: transform 0.3s ease 0s;
}
main {
  z-index: 1;
  min-width: 0;
}
main .carousel {
  margin: 200px 0 0 0;
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  main .carousel {
    margin: 150px 0 0 0;
  }
}
main .carousel .slide-button {
  display: flex;
  justify-content: center;
  padding: 55px 0 150px 0;
}
main .slide-left {
  display: block;
  margin: 0 auto;
  height: 650px;
  font-weight: 500;
  max-width: 1240px;
  background: url(../images/src/img2.png) no-repeat center;
  background-size: cover;
  border-radius: 6px;
  font-family: "M PLUS 1p";
  padding: 350px 50px 20px 50px;
}
@media (max-width: 767.98px) {
  main .slide-left {
    min-width: 290px;
    height: 450px;
    font-size: 40px;
    padding: 200px 20px 20px 20px;
  }
}
main .slide-left h3 {
  font-size: 80px;
}
@media (max-width: 767.98px) {
  main .slide-left h3 {
    font-size: 40px;
  }
}
main .slide-left p {
  font-size: 16px;
}
main .slide-center {
  display: block;
  margin: 0 auto;
  height: 650px;
  font-weight: 500;
  max-width: 1240px;
  background: url(../images/src/img2.png) no-repeat center;
  background-size: cover;
  border-radius: 6px;
  font-family: "M PLUS 1p";
  padding: 350px 50px 20px 50px;
}
@media (max-width: 767.98px) {
  main .slide-center {
    min-width: 290px;
    height: 450px;
    font-size: 40px;
    padding: 200px 20px 20px 20px;
  }
}
main .slide-center h3 {
  font-size: 80px;
}
@media (max-width: 767.98px) {
  main .slide-center h3 {
    font-size: 40px;
  }
}
main .slide-center p {
  font-size: 16px;
}
main .slide-right {
  display: block;
  margin: 0 auto;
  height: 650px;
  font-weight: 500;
  max-width: 1240px;
  background: url(../images/src/img2.png) no-repeat center;
  background-size: cover;
  border-radius: 6px;
  font-family: "M PLUS 1p";
  padding: 350px 50px 20px 50px;
}
@media (max-width: 767.98px) {
  main .slide-right {
    min-width: 290px;
    height: 450px;
    font-size: 40px;
    padding: 200px 20px 20px 20px;
  }
}
main .slide-right h3 {
  font-size: 80px;
}
@media (max-width: 767.98px) {
  main .slide-right h3 {
    font-size: 40px;
  }
}
main .slide-right p {
  font-size: 16px;
}
main .faq {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto 100px;
  color: white;
}
main .faq .container {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: start;
}
@media (max-width: 767.98px) {
  main .faq .container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}
main .faq .container .faq-title h2 {
  font-family: "M PLUS 1p";
  font-weight: 500;
  font-size: 80px;
  margin: -30px 0;
}
@media (max-width: 767.98px) {
  main .faq .container .faq-title h2 {
    font-size: 40px;
  }
}
main .faq .container .info {
  font-family: "M PLUS 1p";
  font-weight: 400;
}
main .faq .container .info .line {
  height: 1px;
  background-color: white;
}
main .faq .container .info h2 {
  font-size: 24px;
}
main .faq .container .info p {
  font-size: 16px;
}
main .faq .container .info .info__item {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0 10px 0;
}
main .faq .container .info .info__item .label {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  padding-bottom: 10px;
}
main .faq .container .info .info__item .content {
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}
main .faq .container .info .info__item.active .content {
  height: 80px;
}
@media (max-width: 991.98px) {
  main .faq .container .info .info__item.active .content {
    height: 120px;
  }
}
@media (max-width: 479.98px) {
  main .faq .container .info .info__item.active .content {
    overflow: auto;
  }
}
main .news {
  min-width: 0;
}
main .news .container {
  max-width: 1270px;
  margin: 0 auto 100px;
  padding: 0 15px;
  font-family: "M PLUS 1p";
  font-weight: 500;
  min-width: 0;
}
main .news .container .news-title h2 {
  font-size: 80px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  main .news .container .news-title h2 {
    font-size: 40px;
  }
}
main .news .container .news-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 370px 370px;
  grid-gap: 100px 20px;
}
@media (max-width: 991.98px) {
  main .news .container .news-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 479.98px) {
  main .news .container .news-items {
    display: none;
  }
}
main .news .container .news-items h4 {
  font-size: 24px;
  margin: 30px 0 20px 0;
}
main .news .container .news-small {
  min-width: 0;
  margin-top: 40px;
}
@media (min-width: 479.98px) {
  main .news .container .news-small {
    display: none;
  }
}
main .news .container .news-small .news-small__wrapper {
  overflow: auto;
}
main .news .container .news-small .news-small__wrapper .news-small__slide .swiper-img {
  height: 264px;
}
main .news .container .news-small .news-small__wrapper .news-small__slide .swiper-img img {
  width: 100%;
  height: 100%;
  object-fit: none;
}
main .news .container .news-small .news-small__wrapper .news-small__slide h4 {
  margin-top: 30px;
}
main .news .container .news-small .news-small__wrapper .news-small__slide p {
  margin-top: 15px;
  font-size: 14px;
}
main .subscribe {
  background-color: white;
  color: #0B0A0D;
  font-family: "M PLUS 1p";
  font-weight: 400;
  padding: 20px 0 50px;
}
main .subscribe .container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
main .subscribe .subscribe-title h2 {
  font-size: 80px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  main .subscribe .subscribe-title h2 {
    font-size: 40px;
  }
}
main .subscribe p {
  margin: 0 0 30px 0;
}
main .subscribe .subscribe-items {
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
  grid-template-rows: 50px 50px;
  grid-gap: 20px;
}
@media (max-width: 767.98px) {
  main .subscribe .subscribe-items {
    grid-gap: 10px;
    grid-template-columns: minmax(200px, 400px);
  }
}
main .subscribe .subscribe-items .subscribe__item {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 13px 20px;
}
main .subscribe .subscribe-button {
  width: 141px;
  margin: 20px 0 0 0;
  font-size: 16px;
  color: #0B0A0D;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 13px 20px;
  background-color: white;
}
footer {
  z-index: 1;
  background-color: #312F35;
  font-family: "M PLUS 1p";
  font-weight: 500;
  padding: 50px 0 80px;
}
footer .container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
}
@media (max-width: 767.98px) {
  footer .container {
    grid-template-columns: minmax(200px, 1fr);
    grid-gap: 40px;
  }
}
footer .container .footer-text {
  font-size: 14px;
}
footer .container .footer-text h2 {
  font-size: 16px;
  padding-bottom: 10px;
}
footer .container .footer-text p {
  padding-bottom: 25px;
}
footer .container .footer-text a {
  color: white;
}
footer .container .footer-webs {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 0 0 100px;
}
@media (max-width: 767.98px) {
  footer .container .footer-webs {
    margin: 0 auto;
  }
}
